.login {
  user-select: none;
  max-width: 500px;
  margin: auto;
  padding: 2rem;
  font-family: 'Arial', sans-serif;
  text-align: center;
}

button {
  padding: 0.7rem 1.2rem;
  margin: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 30px;
  background-color: rgb(70, 132, 224);
  color: #f0f0f0;
}

input {
  padding: 0.6rem;
  margin: 1rem auto;
  width: 200px;
  display: block;
  font-size: 1rem;
  text-align: center;
  border: none;
  border-radius: 30px;
  background-color: rgb(227, 229, 231);
}

input:focus {
  outline: none;
  box-shadow: none;
  border-color: transparent;
}